body {
    background-image: url('../images/background-image.jpeg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.registration-form {
    align-items: center;
}

.registration-caption {
    font-size: x-large;
    padding-bottom: 10px;
}

td {
    padding: 5px 10px;
}

input[type="text"], input[type="password"]{
    width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}